.*
*.pyc
*.mp3
*.wav
*.ipynb
*.pickle
test.pickle
./audioPickleCreator/*.pyc
./audioPickleCreator/*.mp3
./audioPickleCreator/*.wav
./audioPickleCreator/*.pickle
./NeuralNetwork/*.pyc
NeuralNetwork/*.pickle
./NeuralNetwork/*model*
